Global Layout Set-up

* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #e9e7eb;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

html {
  scroll-behavior: smooth;
}

/* Section Styles */

.main-nav {
  width: 100%;
  z-index: 2;
  background:rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(20px);
  min-height: 30px;
  padding-bottom: 10px;
  max-height: 50px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  list-style-type: none;
}

.nav a{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.menu-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
}
/* bold pseaudo element hidden under nav items: https://css-tricks.com/bold-on-hover-without-the-layout-shift/ */
.nav a::after {
  content: attr(title);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 800;
  padding:10px
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}

.nav li {
  padding: 10px
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: white;
  font-weight: 800
}

header {
  text-align: center;
  background: url('images/9.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 90px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
  margin-bottom: 10px;
}

/* start of animations css */
/* profile picture hover animation : code adapted from https://ianlunn.github.io/Hover/ */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* name box hover animation : code adapted from https://ianlunn.github.io/Hover/ */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}  /* end of animations css */
 
.tag {
  background-color: #00000081;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.occupation {
  background-color: transparent;
  color:white;
  letter-spacing: 3px;
  margin-top: 10px;
}

.down-arrow  {
opacity:.7;
margin-top: 90px;
margin-bottom: 80px;
}

.down-arrow:hover {
opacity: 1;
transform: scale(1.2);
}

/**
 occupation vertical dividers : code adapted from KARD theme (https://www.styleshout.com/free-templates/kards/)
*/
.occupation span {
  display: inline-block;
}
.occupation span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.692);
}
.occupation span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.692);
} /** occupation vertical dividers*/

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0px 3px 20px -15px rgb(122, 122, 122);
}
.card:hover {
  border-color: #420B45;
}

.emphasis {
font-weight: bolder;
}

.undraw-illustration {
  width: 80%;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.hand-note {
display: inline-block;
font-family:Cedarville Cursive;
transform: rotate(10deg);
font-size: .65em;
vertical-align: 80%;
}

.undraw-illustration-right {
  width: 80%;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  }

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 1px;
  display: inline-block;
  background: #D6D6D6;
  color: #3F3D56;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #3F3D56;
  color:white
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0px 20px;
}

footer .copyright {
  top: 8px;
  font-size: .45em;
  color: grey;
  font-weight: 100;
  padding-top: 10px;
}

.main-footer {
margin-top: 70px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.instagram {
  background-image: url(images/icons8-instagram.svg);
}
a.linkedin {
  background-image: url(images/icons8-linkedin.svg);
}
a.github {
  background-image: url(images/icons8-github.svg);
}
a.social:hover {
  opacity: 1;
  transform: scale(1.2);
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding-top: 10px;
    margin: auto;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

/* experience page css */
.header-experience {
  text-align: center;
  background:url(images/8.jpg);
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
 }

.profile-image-experience {
  margin-top: 90px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
  margin-bottom: 10px;
}

.main-experience {
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  max-width: 1200px;
  margin: auto;
}

.profile-summary {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.section-heading {
  display: flex;
}

.education {
  padding: 20px 40px 40px;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0px 3px 20px -15px rgb(122, 122, 122);
  height: 160px;
}

.work {
  padding: 20px 40px 40px;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0px 3px 20px -15px rgb(122, 122, 122);
  height: 160px;
}

.icon {
  height: 50px;
  width: 50px;
  opacity: .8;
  padding-right: 10px;
}

.resume-section {
  text-align: left;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card-exp:hover {
  border-color: #ffe602;
}

/* portfolio page css */
.header-portfolio {
  text-align: center;
  background: url('images/11.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

.under-construction {
  height: 400px;
  padding-top: 30px;
}

.under-construction-heading {
  padding-top: 100px;
  font-size: 4em;
}